@import "tailwindcss";

@theme{
  --font-display: "Mulish", "Yeseva One";
}
.mulish {
  font-family: 'Mulish', sans-serif;
}
.yeseva {
  font-family: 'Yeseva One', serif;
}

.default-purple {
  background-color: #480CA8;
}
.default-purple-text {
  color: #480CA8;
}
.default-white-text {
  color: #FDFDFD;
}
.default-black-text {
  color: #0B0B0B;
}
.default-white-bg {
  background-color: #FDFDFD;
}
.default-black-bg {
  background-color: #0B0B0B;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

:root {
  font-family: "Mulish", sans-serif;
  background-color: #FDFDFD;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
